﻿@{
    ViewBag.Title = "Customers";
}
@section scripts {
    @Scripts.Render("~/bundles/customer")
}
<div class="row">
    <div ng-controller="CustomerCtrl">

        <div class="row">
            <div class="col-md-4">
                <h2>Customers</h2>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="customer in customers" ng-click="selectCustomer(customer)" ng-class="{'selected':$index == selectedRow}">
                        <td>{{customer.Id}}</td>
                        <td>{{customer.FirstName}}</td>
                        <td>{{customer.LastName}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4" ng-hide="selectedCustomer === null">
                <h2>Update Customer</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" placeholder="First" ng-model="selectedCustomer.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" placeholder="Last" ng-model="selectedCustomer.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">Address</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="address" placeholder="Address" ng-model="selectedCustomer.Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="city" class="col-sm-2 control-label">City</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="city" placeholder="City" ng-model="selectedCustomer.City">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="state" class="col-sm-2 control-label">State</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="state" placeholder="State" ng-model="selectedCustomer.State">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="zipcode" class="col-sm-2 control-label">Zipcode</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="zipcode" placeholder="Zipcode" ng-model="selectedCustomer.Zipcode">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-click="submit()">Update</button>
                            <button type="reset" class="btn btn-warning" ng-click="reset()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>