﻿@{
    ViewBag.Title = "Search";
}
@section scripts {
    @Scripts.Render("~/bundles/search")
}
<div class="row">
    <div ng-controller="SearchCtrl">

        <div class="row">
            <div class="col-md-7">
                <h2>Search</h2>

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="firstname" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="firstname" placeholder="First" ng-model="searchObject.FirstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="lastname" placeholder="Last" ng-model="searchObject.LastName">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success" ng-click="search()" ng-disabled="!isButtonActive()">Search</button>
                            <button type="reset" class="btn btn-warning" ng-click="reset()" ng-disabled="!isButtonActive()">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">

            <div class="cold-md-6">
                <h2>Search Results</h2>

                <table class="table table-striped">
                    <caption>Found {{searchResults.length}} Results</caption>
                    <thead>
                        <tr>
                            <th>Customer Id</th>
                            <th>Order Id</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Order Total</th>
                            <th>Order Date</th>
                            <th>Order Status</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="sale in searchResults">
                        <td>{{sale.CustomerId}}</td>
                        <td>{{sale.OrderId}}</td>
                        <td>{{sale.FirstName}}</td>
                        <td>{{sale.LastName}}</td>
                        <td>{{sale.OrderTotal}}</td>
                        <td>{{sale.OrderDate}}</td>
                        <td>{{sale.OrderStatus}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>