﻿@{
    ViewBag.Title = "Sales";
}
@section scripts {
    @Scripts.Render("~/bundles/sales")
}
<div class="row">
    <div ng-controller="SalesCtrl">

        <div class="col-md-12">
            <h2>Sales</h2>

            <label>Filter: <input ng-model="searchText"></label>
            <i class="fa fa-spinner fa-spin" ng-hide="!isLoadingData"></i>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="#" ng-click="sortType = 'CustomerId'; sortReverse = !sortReverse">
                                Customer Id
                                <span ng-show="sortType == 'CustomerId' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'CustomerId' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'OrderId'; sortReverse = !sortReverse">
                                Order Id
                                <span ng-show="sortType == 'OrderId' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'OrderId' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'FirstName'; sortReverse = !sortReverse">
                                First Name
                                <span ng-show="sortType == 'FirstName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'FirstName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'LastName'; sortReverse = !sortReverse">
                                Last Name
                                <span ng-show="sortType == 'LastName' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'LastName' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'OrderTotal'; sortReverse = !sortReverse">
                                Order Total
                                <span ng-show="sortType == 'OrderTotal' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'OrderTotal' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'OrderDate'; sortReverse = !sortReverse">
                                Order Date
                                <span ng-show="sortType == 'OrderDate' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'OrderDate' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="#" ng-click="sortType = 'OrderStatus'; sortReverse = !sortReverse">
                                Order Status
                                <span ng-show="sortType == 'OrderStatus' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType == 'OrderStatus' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="sale in sales | filter:searchText | orderBy:sortType:sortReverse">
                    <td>{{sale.CustomerId}}</td>
                    <td>{{sale.OrderId}}</td>
                    <td>{{sale.FirstName}}</td>
                    <td>{{sale.LastName}}</td>
                    <td>{{sale.OrderTotal}}</td>
                    <td>{{sale.OrderDate}}</td>
                    <td>{{sale.OrderStatus}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>